  <div class="row">
    <!--Show tasks-->
    <div
      class="card col s6 m4 l3 xl2 {{ task.estat[0] }}"
      style="margin-left: 0px"
      *ngFor="let task of taskService.tasks"
    >
      <div class="card" (click)="activateButtons(task)">
        <div class="row center">
          <div class="col">
            <img
              src="../../../assets/{{ task.transport }}.png"
              class="img-fluid"
              style="
                width: 10vw;
                height: 5vh;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
              "
            />
          </div>
          <div class="col">
            <img
              src="../../../assets/{{ task.oxigen }}.png"
              class="img-fluid"
              style="
                width: 7vw;
                height: 5vh;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
              "
            />
          </div>
        </div>

        <h4 class="grey center">
          <strong>{{ task.room }}</strong>
        </h4>
        <h6>{{ task.name }}</h6>
        <h6 class="center">
          <strong>{{ task.destination }}</strong>
        </h6>
        <h5 class="right-align" style="color: red">{{ task.hour }}</h5>

        <div class="row" [hidden]="hiddenButtons">
          <div class="col s6">
            <a
              class="btn-floating right waves-effect waves-light teal"
              (click)="editTask(task)"
              ><i class="material-icons">edit</i></a
            >
          </div>
          <div class="col s6">
            <a
              class="btn-floating left waves-effect waves-light red"
              (click)="deleteTask(task._id, taskForm)"
              ><i class="material-icons">remove</i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="hiddenState">
    <!--Show form-->
    <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
            <input
              type="hidden"
              name="_id"
              #_id="ngModel"
              [(ngModel)]="taskService.selectedTask._id"
            />

            <label>Room</label>
            <select
                  id="formulario"
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.room"
                  name="room"
                >
                  <option *ngFor="let room of roomList">
                    {{ room.room }}
                  </option>
            </select>

            <input
                  type="text"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="taskService.selectedTask.name"
                  placeholder="enter pacient"
            />

            <input
              type="time"
              name="hour"
              #hour="ngModel"
              [(ngModel)]="taskService.selectedTask.hour"
            />

            <label>Transport</label>
            <select
              class="browser-default"
              [(ngModel)]="taskService.selectedTask.transport"
              name="transport"
            >
              <option *ngFor="let transport of transportList">
                {{ transport }}
              </option>
            </select>

            <label>Destination</label>
            <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.destination"
                  name="destination"
                >
                  <option *ngFor="let destination of destinationList">
                    {{ destination }}
                  </option>
            </select>

            <label>Estat</label>
            <select
                  class="browser-default"
                  [(ngModel)]="taskService.selectedTask.estat"
                  name="estat"
                >
                  <option *ngFor="let estat of estatList" value="{{ estat[1] }}">
                    {{ estat[0] }}
                  </option>
            </select>

            <div class="switch">
              <label>Oxigen</label>
              <label>
                No
                <input
                      id="lever"
                      type="checkbox"
                      name="oxigen"
                      #oxigen="ngModel"
                      [(ngModel)]="taskService.selectedTask.oxigen"
                      placeholder="enter oxigen"
                />
                <span class="lever"></span>
                  Yes
              </label>
            </div>
            <p></p>

            <div class="row center m-2">
                <button class="btn-small" type="submit">Save</button>
                <button
                  class="btn-small"
                  (click)="resetForm(taskForm)"
                >
                  Clean
                </button>
            </div>
    </form>
  </div>
  <div class="row center" [hidden]="hiddenButton">
    <button
      class="btn-floating waves-effect waves-light blue"
      (click)="editTask(taskForm)"
      style="margin-left: 2px"
    >
      <i class="material-icons">add</i>
    </button>
  </div>

